<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Orelhinha</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/map_style_orelhinha.css">
  <!-- Google fonts-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Code+Pro" />

  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css" type="text/css" />
  
</head>
      
<body>

<div id="legenda-azul">
    NÃO ATENDIDAS
    <img style="height:100%" src="../assets/favicons/orelha_rosa.png">
    <img style="height:100%" src="../assets/favicons/orelha_amarela.png">
    ATENDIDAS
</div> 
    
<div id="map"></div>
  
  <script>
    var geocoder = new MapboxGeocoder({
       accessToken: mapboxgl.accessToken,
       mapboxgl: mapboxgl
    });
    
    var transformRequest = (url, resourceType) => {
      var isMapboxRequest =
        url.slice(8, 22) === "api.mapbox.com" ||
        url.slice(10, 26) === "tiles.mapbox.com";
      return {
        url: isMapboxRequest
          ? url.replace("?", "?pluginName=sheetMapper&")
          : url
      };
    };
      
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FyYWxnYyIsImEiOiJja2NjbTAyczkwNXA3Mnlscm5nbjN5OHZiIn0.yNcJkPBSugRlIeGkXDRlZw'; //meu token
      
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/saralgc/ckpqqn0sv23so18qh9azo7iys',
      center: [-44.05, -18], // starting position
      zoom: 7,// starting zoom
      minZoom: 6.5,// starting zoom
      pitch: 0, // pitc3 in degrees
      bearing: 100, // bearing in degrees
      transformRequest: transformRequest
    });
    
    $(document).ready(function () {
      $.ajax({
        type: "GET",
        url:'https://docs.google.com/spreadsheets/d/1-cJ1mIdwNZXodhyn_Gz4Df1L1te0pMCOV060KTINIyM/gviz/tq?tqx=out:csv&sheet=naoatendidas',
        dataType: "text",
        success: function (csvData) { makeGeoJSON(csvData); }
      });

      $.ajax({
        type: "GET",
        url:'https://docs.google.com/spreadsheets/d/1-cJ1mIdwNZXodhyn_Gz4Df1L1te0pMCOV060KTINIyM/gviz/tq?tqx=out:csv&sheet=sons',
        dataType: "text",
        success: function (csvData) { makeGeoJSON2(csvData); }
      });


      function makeGeoJSON(csvData) {
        csv2geojson.csv2geojson(csvData, {
          latfield: 'Latitude',
          lonfield: 'Longitude',
          delimiter: ','
        }, function (err, data) {
          
          map.on('load', function () {
                 var layers = map.getStyle().layers;
            var firstSymbolId;
                for (var i = 0; i < layers.length; i++) {
                    if (layers[i].type === 'symbol') {
                        firstSymbolId = layers[i].id;
                        break;
                    }
                }
              
            map.loadImage(
             '../assets/favicons/orelha_rosa.png',
              function(error, image) {
              if (error) throw error;
              map.addImage('orelhinha2', image);
            });
            
            map.addLayer({
              'id': 'naoatendidas',
              'type': 'symbol',
              'source': {
                'type': 'geojson',
                'data': data
              },
              'layout': {
                'icon-image': 'orelhinha2',
                'icon-anchor': 'bottom', 
                "icon-allow-overlap": true,
                //'icon-size': 0.025
              }
             },
             firstSymbolId
             );
              
            var bbox = turf.bbox(data);
           // map.fitBounds(bbox, { padding: 50 });
         map.setLayoutProperty('naoatendidas', 'icon-size', 
            ['interpolate', ['linear'], ['zoom'],
              0,
              //TAMANHO AO ZOOM 0
              0.1,
              6,
              //TAMANHO AO ZOOM 7
              0.12,
              15,
              0.40,
              24,
              //TAMANHO AO ZOOM 24
              0.50
            ]);
          });

        });
      };
        
       function makeGeoJSON2(csvData) {
        csv2geojson.csv2geojson(csvData, {
          latfield: 'Latitude',
          lonfield: 'Longitude',
          delimiter: ','
        }, function (err, data) {
          
          map.on('load', function () {
            
            map.loadImage(
             '../assets/favicons/orelha_amarela.png',
              function(error, image) {
              if (error) throw error;
              map.addImage('orelhinha', image);
            });
            
            map.addLayer({
              'id': 'atendidas',
              'type': 'symbol',
              'source': {
                'type': 'geojson',
                'data': data
              },
              'layout': {
                'icon-image': 'orelhinha',
                'icon-anchor': 'bottom',
                "icon-allow-overlap": true,
                //'icon-size': 0.025
              }
             });
            
            map.on('click', 'atendidas', function (e) {
              var coordinates = e.features[0].geometry.coordinates.slice();
        
              var description = `<h3>` +  e.features[0].properties.Nome +`</h3>` + `<b>` + e.features[0].properties.Rio + `</b>` + `<br>` + `<b>` + e.features[0].properties.Data + `</b>`+ `<br>` + `<br>` + `<audio controls style="width:100%;" controlsList="nodownload" autoplay><source src="../dataorelhinha/mp3/` + e.features[0].properties.Audio + `" type="audio/mpeg"></audio>`;
                
              while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              }
                
              //Popup apenas para chamadas atendidas
              new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
            });
          
            var bbox = turf.bbox(data);
            map.setLayoutProperty('atendidas', 'icon-size', 
            ['interpolate', ['linear'], ['zoom'],
              0,
              //TAMANHO AO ZOOM 0
              0.1,
              6,
              //TAMANHO AO ZOOM 7
              0.12,
              15,
              0.40,
              24,
              //TAMANHO AO ZOOM 24
              0.50
            ]);
          });

        });
      };  
      
    });
    

      // ZOOM
     map.addControl(new mapboxgl.NavigationControl(), 'top-right'); // disable map zoom when using scroll
      map.scrollZoom.disable(); 
    
  </script>

  
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
  
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
          
</body>

</html>