<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    {% include meta.html %}
  <meta charset="utf-8" />
  <title>Mapa Sonoro do Tangará</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/map_style.css">
  <!-- Google fonts-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css" type="text/css" />
  
</head>

  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
    
<body>
  
<div id="map"></div>
  
  <script>
    var geocoder = new MapboxGeocoder({
       accessToken: mapboxgl.accessToken,
       mapboxgl: mapboxgl
    });
    
    var transformRequest = (url, resourceType) => {
      var isMapboxRequest =
        url.slice(8, 22) === "api.mapbox.com" ||
        url.slice(10, 26) === "tiles.mapbox.com";
      return {
        url: isMapboxRequest
          ? url.replace("?", "?pluginName=sheetMapper&")
          : url
      };
    };
    //YOUR TURN: add your Mapbox token 
    //mapboxgl.accessToken = 'pk.eyJ1IjoiY2FydG9ncmFmaWFkYXNtZW1vcmlhcyIsImEiOiJjazlxMDN1aG0wZnY4M2xvZHJjajdldnE3In0.qHPWWLN-r8EmzjGLm3afAA'; //Mapbox token 
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FyYWxnYyIsImEiOiJja2NjbTAyczkwNXA3Mnlscm5nbjN5OHZiIn0.yNcJkPBSugRlIeGkXDRlZw'; //Mapbox token 
      
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/saralgc/ckev0lgww9jew19k93wzb364i',
      center: [-43.732, -20.113], // starting position
      zoom: 14.92,// starting zoom
      transformRequest: transformRequest
    });

    $(document).ready(function () {
      $.ajax({
        type: "GET",
        //YOUR TURN: Replace with csv export link
        //https://www.mapbox.com/impact-tools/sheet-mapper
        url:'https://docs.google.com/spreadsheets/d/1xuvrMrcSKA5U0GavNTrSesskmwq6nAxOsggfqiSr3rk/gviz/tq?tqx=out:csv&sheet=Sheet1',
        dataType: "text",
        success: function (csvData) { makeGeoJSON(csvData); }
      });

      function makeGeoJSON(csvData) {
        csv2geojson.csv2geojson(csvData, {
          latfield: 'Latitude',
          lonfield: 'Longitude',
          delimiter: ','
        }, function (err, data) {
          
          map.on('load', function () {
            
            map.addLayer({
              'id': 'csvData',
              'type': 'circle',
              'source': {
                'type': 'geojson',
                'data': data
              },
              'paint': {
                'circle-radius': 8,
                'circle-color': "#f18388",
              }
            });
            // When a click event occurs on a feature in the csvData layer, open a popup at the
            // location of the feature, with description HTML from its properties.
            
            map.on('click', 'csvData', function (e) {
              var coordinates = e.features[0].geometry.coordinates.slice();

               var description = `<audio controls style="width:100%;" controlsList="nodownload" autoplay><source src="https://freesound.org/data/previews/` + e.features[0].properties.Audio + `_7975555-lq.mp3" type="audio/mpeg"></audio>` + `<h2>` + e.features[0].properties.Titulo + `</h2>`;
                
              while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              }
                
              //add Popup to map
              new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
            });
           //  Change the cursor to a pointer when the mouse is over the places layer.
            map.on('mouseenter', 'csvData', function () {
              map.getCanvas().style.cursor = 'pointer';
            });
            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'csvData', function () {
              map.getCanvas().style.cursor  = '';
            });
            var bbox = turf.bbox(data);
           // map.fitBounds(bbox, { padding: 50 });
            
          });

        });
      };
      
      
    });
    

      // ZOOM
     // map.addControl(new mapboxgl.NavigationControl(), 'top-left'); // disable map zoom when using scroll
    //  map.scrollZoom.disable(); 
    
  </script>

  
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
  
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
    
<content>
    {{ content }}
</content>
          
</body>

</html>