<!DOCTYPE html>
 <html>
  <head>
    {% include head.html %}
    {% include meta.html %}   
    {% include share.html %}
  </head>
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
  
 <body id="palette2"> 
        <div id="main-div-other"> 
                <div class="other">
                    <content>
                            <div class="row">
                                {% for i in (1..3) %}
                                    {% assign project = site.data.other | where: 'column', i | sort: 'order' %}
                                    {% for cover in project %}
                                 <div class="column"> 
                                    {% case page.lang %}
                                    {% when 'en' %}
                                        <div class="static2"> 
                                            <a href="{{ site.base.url }}/en/{{ cover.name }}"><img src="/assets/covers/{{ cover.name }}.png"></a><br>
                                            <div class="center">{{ cover.title-en }}</div></div>
                                            <a href="{{ site.base.url }}/en/{{ cover.name }}"><img class="active22" src="/assets/covers/gif/{{ cover.name }}.gif" style="width:100.4%"></a><br>
                                            <div class="center">{{ cover.title-en }}</div>
                                    {% else %}
                                      <div class="static2"> 
                                            <a href="{{ site.base.url }}/{{ cover.name }}"><img src="/assets/covers/{{ cover.name }}.png"></a><br>
                                            <div class="center">{{ cover.title }}</div></div>
                                            <a href="{{ site.base.url }}/{{ cover.name }}"><img class="active22" src="/assets/covers/gif/{{ cover.name }}.gif" style="width:100.4%"></a><br>
                                            <div class="center">{{ cover.title }}</div>
                                     {% endcase %}
                                     <br>
                                  </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        <br>  
                        <!-- Return to Top -->
                        <button onclick="topFunction()" id="return-to-top" title="Go to top"><a class="fa fa-arrow-up" aria-hidden="true"></a></button>
                      {{ content }}
                      {% include swipebox.html %}
                    </content>
                </div> 
         </div>   
        {% include navbar.html %}
 </body>
</html>

