<!DOCTYPE html>
<html style="background-attachment: fixed; background-color: #fbcbe4; background-image: url(https://rotas.hotglue.me/?start.head.page); background-position: -68px -269px;">
<head>
<title>r(n)otas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="https://rotas.hotglue.me/?start.head.162188331572">
<link rel="stylesheet" type="text/css" href="https://rotas.hotglue.me/css/reset.min.css">
<link rel="stylesheet" type="text/css" href="https://rotas.hotglue.me/css/main.css">
<link rel="stylesheet" type="text/css" href="https://rotas.hotglue.me/modules/video/video.css">
<style type="text/css">
	@font-face {
		font-family: 'DejaVuSansMono';
		font-style: normal;
		font-weight: normal;
		src: url(https://rotas.hotglue.me/img/dejavusansmono-webfont.woff) format("woff");
	}
	@font-face {
		font-family: 'DejaVuSansMono';
		font-style: italic;
		font-weight: normal;
		src: url(https://rotas.hotglue.me/img/dejavusansmono-oblique-webfont.woff) format("woff");
	}
	@font-face {
		font-family: 'DejaVuSansMono';
		font-style: normal;
		font-weight: bold;
		src: url(https://rotas.hotglue.me/img/dejavusansmono-bold-webfont.woff) format("woff");
	}
	@font-face {
		font-family: 'DejaVuSansMono';
		font-style: italic;
		font-weight: bold;
		src: url(https://rotas.hotglue.me/img/dejavusansmono-boldoblique-webfont.woff) format("woff");
	}
</style>
<!-- user HEAD definitions -->
<style>
video{
    background-color: #f18388;
    }
video::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: #f18388;
}
  
body {
transform: scale(0.5,0.5);
left: -2400px !important;
}
</style>
</head>
<body id="start.head" class="page">
	<div id="start.head.162030624727" class="text resizable object" style="background-color: transparent; font-family: &quot;Courier New&quot;, Courier, monospace; font-size: 26px; font-style: normal; font-weight: bold; height: 99.6667px; left: -350px; line-height: 1.87em; position: absolute; top: 263.667px; width: 301.667px; z-index: 100;">
		r(n)otas
	</div>
	<a href="#start.head.162195660124">
		<div id="start.head.162030661623" class="image resizable object" style="height: 463.847px; left: 5705px; position: absolute; top: 6561px; width: 455px; z-index: 100;">
			<img src="https://rotas.hotglue.me/?start.head.162030661623" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
		</div>
	</a>
	<div id="start.head.162030698978" class="image resizable object" style="height: 365px; left: 3406px; opacity: 1; position: absolute; top: 4264px; width: 564px; z-index: 101;">
		<img src="https://rotas.hotglue.me/?start.head.162030698978" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<a href="https://cnnespanol.cnn.com/2017/09/20/el-silencio-puede-salvar-vidas-despues-del-terremoto-en-mexico/">
		<div id="start.head.162030724164" class="text resizable object" style="background-color: transparent; color: rgb(10, 176, 255); font-family: &quot;Courier New&quot;, Courier, monospace; font-size: 22px; height: 17.6667px; left: 2620px; line-height: 1.42727em; padding-bottom: 0px; padding-left: 9px; padding-right: 9px; padding-top: 0px; position: absolute; text-align: center; top: 4732.67px; width: 1479.67px; z-index: 100;">
			https://cnnespanol.cnn.com/2017/09/20/el-silencio-puede-salvar-vidas-despues-del-terremoto-en-mexico/
		</div>
	</a>
	<div id="start.head.162030855034" class="image resizable object" style="height: 367.534px; left: 2721.67px; opacity: 0.98; position: absolute; top: 4262.67px; width: 615.667px; z-index: 102;">
		<img src="https://rotas.hotglue.me/?start.head.162030855034" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.16204019220" class="image resizable object" style="height: 265.371px; left: 384.633px; position: absolute; top: 1154.63px; width: 381.733px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.16204019220" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162057817525" class="text resizable object" style="background-color: rgb(3, 84, 196); height: 508px; left: 2655px; position: absolute; top: 4188px; width: 1388px; z-index: 100;">
	</div>
	<div id="start.head.162057872756" class="image resizable object" style="height: 296.923px; left: 1493px; position: absolute; top: 2397px; width: 318px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162057872756" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162057876023" class="video resizable object" style="height: 40px; left: 949px; position: absolute; top: 321px; width: 317px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162057876023" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162057987761" class="text resizable object" style="background-color: transparent; color: rgb(246, 99, 151); font-family: &quot;Courier New&quot;, Courier, monospace; font-size: 21px; font-style: normal; font-weight: bold; height: 36px; left: 952.9px; position: absolute; top: 426.967px; width: 158px; z-index: 100;">
		esconderijos
	</div>
	<div id="start.head.162057995138" class="video resizable object" style="height: 34px; left: 1498px; position: absolute; top: 2309px; width: 312px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162057995138" style="height: 100%; width: 100%;" onclick="this.play()" loop="loop" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162058034747" class="video resizable object" style="height: 32px; left: 1498px; position: absolute; top: 2352px; width: 312px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162058034747" style="height: 100%; width: 100%;" onclick="this.play()" loop="loop" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162058035033" class="text resizable object" style="background-color: transparent; color: rgb(255, 105, 151); font-family: &quot;Courier New&quot;, Courier, monospace; font-size: 33px; font-style: normal; font-weight: bold; height: 35px; left: 1511px; line-height: 1.11313em; position: absolute; top: 2248px; width: 306px; z-index: 100;">
		______ passagem
	</div>
	<div id="start.head.162058353837" class="video resizable object" style="height: 38px; left: 949px; position: absolute; top: 278px; width: 317px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162058353837" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162058381018" class="video resizable object" style="height: 40px; left: 949px; position: absolute; top: 366px; width: 317px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162058381018" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162058390065" class="video resizable object" style="height: 40px; left: 950px; position: absolute; top: 232px; width: 317px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162058390065" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162058499720" class="image resizable object" style="-moz-transform: matrix(1, 0, 0, -1, 0, 0); -ms-transform: matrix(1, 0, 0, -1, 0, 0); -o-transform: matrix(1, 0, 0, -1, 0, 0); -webkit-transform: matrix(1, 0, 0, -1, 0, 0); height: 94px; left: 861.933px; position: absolute; top: 342.9px; transform: matrix(1, 0, 0, -1, 0, 0); width: 95px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162058499720" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162058502170" class="image resizable object" style="-moz-transform: matrix(1, 0, 0, -1, 0, 0); -ms-transform: matrix(1, 0, 0, -1, 0, 0); -o-transform: matrix(1, 0, 0, -1, 0, 0); -webkit-transform: matrix(1, 0, 0, -1, 0, 0); height: 94px; left: 457px; opacity: 0.0133333; position: absolute; top: 306px; transform: matrix(1, 0, 0, -1, 0, 0); width: 95px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162058502170" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162085814071" class="image resizable object" style="height: 320.101px; left: 909px; position: absolute; top: 3197px; width: 336px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162085814071" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089033374" class="image resizable object" style="height: 319.916px; left: 1276px; position: absolute; top: 3195px; width: 382px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162089033374" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089050859" class="image resizable object" style="height: 291.714px; left: 2193px; opacity: 1; position: absolute; top: 1902.98px; width: 416px; z-index: 91;">
		<img src="https://rotas.hotglue.me/?start.head.162089050859" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089112312" class="image resizable object" style="height: 262.733px; left: 1162.63px; position: absolute; top: 1155.63px; width: 187.58px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162089112312" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089158364" class="image resizable object" style="height: 264px; left: 777px; position: absolute; top: 1154px; width: 376.978px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162089158364" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.16208917046" class="text resizable object" style="background-color: rgb(252, 131, 148); height: 290.733px; left: 366.633px; opacity: 0.94; position: absolute; top: 1139.63px; width: 994.733px; z-index: 97;">
	</div>
	<div id="start.head.162089195689" class="text resizable object" style="background-color: rgb(161, 219, 209); height: 413px; left: 870px; opacity: 1; position: absolute; top: 3153px; width: 825px; z-index: 99;">
	</div>
	<div id="start.head.162089370777" class="image resizable object" style="height: 500px; left: 2158.98px; position: absolute; top: 1080px; width: 363px; z-index: 101;">
		<img src="https://rotas.hotglue.me/?start.head.162089370777" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089417421" class="image resizable object" style="height: 464.286px; left: 3738px; position: absolute; top: 2745px; width: 499px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162089417421" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089422453" class="image resizable object" style="height: 312.5px; left: 2328.7px; position: absolute; top: 2606.72px; width: 313.5px; z-index: 101;">
		<img src="https://rotas.hotglue.me/?start.head.162089422453" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089438771" class="image resizable object" style="height: 369.45px; left: 668.667px; position: absolute; top: 1842.67px; width: 520.667px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162089438771" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162089469297" class="text resizable object" style="background-color: transparent; height: 100px; left: 715px; position: absolute; top: 3205px; width: 100px; z-index: 100;">
	</div>
	<div id="start.head.162089767122" class="video resizable object" style="height: 27px; left: 2326.97px; position: absolute; top: 2936.95px; width: 314px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162089767122" style="height: 100%; width: 100%;" onclick="this.play()" loop="loop" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162090977231" class="text resizable object" style="background-color: transparent; color: rgb(145, 227, 173); font-family: &quot;DejaVuSansMono&quot;; font-size: 24px; font-style: normal; font-weight: normal; height: 68px; left: 2608px; letter-spacing: 0.1em; line-height: 1.57em; padding-bottom: 16px; padding-left: 17px; padding-right: 17px; padding-top: 16px; position: absolute; top: 2076px; width: 66px; z-index: 104;">
		kkk muito bom!!!<br>
	</div>
	<div id="start.head.162091376659" class="image resizable object" style="height: 343.623px; left: 1878px; position: absolute; top: 3690px; width: 600px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162091376659" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162091381161" class="text resizable object" style="background-color: transparent; color: rgb(246, 99, 151); font-family: &quot;Courier New&quot;, Courier, monospace; font-size: 24px; font-style: normal; font-weight: bold; height: 27px; left: 1250px; position: absolute; top: 960px; width: 126px; z-index: 100;">
		refúgios
	</div>
	<div id="start.head.162110307856" class="image resizable object" style="-moz-transform: matrix(1, 0, 0, -1, 0, 0); -ms-transform: matrix(1, 0, 0, -1, 0, 0); -o-transform: matrix(1, 0, 0, -1, 0, 0); -webkit-transform: matrix(1, 0, 0, -1, 0, 0); height: 147px; left: 1048px; position: absolute; top: 3636px; transform: matrix(1, 0, 0, -1, 0, 0); width: 131px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162110307856" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162110360487" class="image resizable object" style="height: 146.122px; left: 686px; opacity: 1; position: absolute; top: 960px; width: 152px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162110360487" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162110578574" class="image resizable object" style="height: 68px; left: 1191px; position: absolute; top: 1017px; width: 54px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162110578574" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162115379951" class="video resizable object" style="height: 399px; left: 2600px; opacity: 1; position: absolute; top: 5979px; width: 707px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162115379951" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/mp4. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162115479377" class="video resizable object" style="height: 331px; left: 2966px; position: absolute; top: 1454px; width: 587px; z-index: 100;">
		<video src="https://rotas.hotglue.me/?start.head.162115479377" style="height: 100%; width: 100%;" onclick="this.play()" loop="loop" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/mp4. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162115594199" class="image resizable object" style="height: 317.5px; left: 2324.72px; opacity: 0.996667; position: absolute; top: 2979.7px; width: 317.5px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162115594199" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162115627728" class="image resizable object" style="height: 5216.67px; left: 628.641px; opacity: 1; position: absolute; top: 1223.58px; width: 2015px; z-index: 92;">
		<img src="https://rotas.hotglue.me/?start.head.162115627728" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162115687344" class="image resizable object" style="height: 261.5px; left: 2386.69px; position: absolute; top: 2986.73px; width: 190.667px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162115687344" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162115733031" class="image resizable object" style="height: 726.345px; left: 2651.72px; position: absolute; top: 2575.73px; width: 515.5px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162115733031" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162134543884" class="image resizable object" style="height: 189.915px; left: 1346.67px; position: absolute; top: 1982.67px; width: 127.667px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162134543884" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162188331572" class="image resizable object" style="height: 147px; left: 1747px; position: absolute; top: 3457px; width: 131px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162188331572" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162188335168" class="image resizable object" style="-moz-transform: matrix(1, 0, 0, -1, 0, 0); -ms-transform: matrix(1, 0, 0, -1, 0, 0); -o-transform: matrix(1, 0, 0, -1, 0, 0); -webkit-transform: matrix(1, 0, 0, -1, 0, 0); height: 44.6667px; left: 3466.67px; position: absolute; top: 2965.67px; transform: matrix(1, 0, 0, -1, 0, 0); width: 115.667px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162188335168" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162188349579" class="image resizable object" style="height: 103.244px; left: 2309px; position: absolute; top: 4147px; width: 101px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162188349579" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162188949542" class="image resizable object" style="height: 2248px; left: -4967.45px; position: absolute; top: -590.1px; width: 9312px; z-index: 96;">
		<img src="https://rotas.hotglue.me/?start.head.162188949542" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162192231313" class="text resizable object" style="background-color: transparent; color: rgb(0, 0, 0); font-family: &quot;Courier New&quot;, Courier, monospace; font-size: 24px; height: 602.667px; left: -350px; line-height: 1.56067em; position: absolute; text-align: justify; top: 345.667px; width: 472.667px; z-index: 101;">
		r(n)otas é um pequeno experimento feito com tentativas tortas de perseguir pistas e escutas. Essas, interligam o silêncio e a sobrevivência através de experiências tímidas que rascunham alguns lugares e ideias. <br>
		<br>
		Um mapa feito de caminhos, trânsitos, passagens, paradas e refúgios.
	</div>
	<div id="start.head.162192320512" class="video resizable object" style="height: 39px; left: 5355px; position: absolute; top: 5121px; width: 342px; z-index: 101;">
		<video src="https://rotas.hotglue.me/?start.head.162192320512" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162192320513" class="video resizable object" style="height: 35px; left: 898px; position: absolute; top: 936px; width: 321px; z-index: 103;">
		<video src="https://rotas.hotglue.me/?start.head.162192320513" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162192320514" class="video resizable object" style="height: 39px; left: 3424px; position: absolute; top: 432px; width: 390px; z-index: 101;">
		<video src="https://rotas.hotglue.me/?start.head.162192320514" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162192320515" class="video resizable object" style="height: 38px; left: 2440px; position: absolute; top: 792px; width: 313px; z-index: 101;">
		<video src="https://rotas.hotglue.me/?start.head.162192320515" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162192320516" class="video resizable object" style="height: 37px; left: 2439px; position: absolute; top: 879px; width: 314px; z-index: 103;">
		<video src="https://rotas.hotglue.me/?start.head.162192320516" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162192320517" class="video resizable object" style="height: 34px; left: 2439px; position: absolute; top: 837px; width: 314px; z-index: 101;">
		<video src="https://rotas.hotglue.me/?start.head.162192320517" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162192320518" class="video resizable object" style="height: 39px; left: 3424px; opacity: 1; position: absolute; top: 388px; width: 387px; z-index: 104;">
		<video src="https://rotas.hotglue.me/?start.head.162192320518" style="height: 100%; width: 100%;" onclick="this.play()" controls  controlsList="nodownload disablePictureInPicture" preload="auto"><div class="video-fallback">You are not seeing the video because your browser does not support video/ogg. Consider using a contemporary web browser.</div></video>
	</div>
	<div id="start.head.162192977855" class="image resizable object" style="height: 97.961px; left: 2765.67px; position: absolute; top: 1839.67px; width: 154.667px; z-index: 99;">
		<img src="https://rotas.hotglue.me/?start.head.162192977855" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162193097010" class="image resizable object" style="height: 4038.67px; left: 3611.67px; position: absolute; top: 393.667px; width: 2093.38px; z-index: 95;">
		<img src="https://rotas.hotglue.me/?start.head.162193097010" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162193097743" class="image resizable object" style="-moz-transform: matrix(1, 0, 0, -1, 0, 0); -ms-transform: matrix(1, 0, 0, -1, 0, 0); -o-transform: matrix(1, 0, 0, -1, 0, 0); -webkit-transform: matrix(1, 0, 0, -1, 0, 0); height: 262.686px; left: 1963.67px; position: absolute; top: 2187.67px; transform: matrix(1, 0, 0, -1, 0, 0); width: 233.667px; z-index: 100;">
		<img src="https://rotas.hotglue.me/?start.head.162193097743" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162193217272" class="image resizable object" style="height: 447.519px; left: 643.667px; position: absolute; top: 3697.67px; width: 460.667px; z-index: 99;">
		<img src="https://rotas.hotglue.me/?start.head.162193217272" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162193217582" class="image resizable object" style="height: 478.335px; left: 584.667px; position: absolute; top: 4430.67px; width: 472.667px; z-index: 99;">
		<img src="https://rotas.hotglue.me/?start.head.162193217582" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162193221345" class="image resizable object" style="-moz-transform: matrix(1, 0, 0, -1, 0, 0); -ms-transform: matrix(1, 0, 0, -1, 0, 0); -o-transform: matrix(1, 0, 0, -1, 0, 0); -webkit-transform: matrix(1, 0, 0, -1, 0, 0); height: 138.038px; left: 890.667px; position: absolute; top: 4226.67px; transform: matrix(1, 0, 0, -1, 0, 0); width: 55.6667px; z-index: 99;">
		<img src="https://rotas.hotglue.me/?start.head.162193221345" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
	<div id="start.head.162195639995" class="text resizable object" style="background-color: rgb(158, 98, 209); height: 468px; left: 2568px; opacity: 0.983333; position: absolute; top: 5940px; width: 773px; z-index: 94;">
	</div>
	<div id="start.head.162195660124" class="text resizable object" style="background-color: transparent; color: rgb(83, 211, 186); font-family: &quot;Courier New&quot;, Courier, monospace; font-size: 27px; font-style: normal; font-weight: normal; height: 48px; left: -350px; line-height: 1.56067em; position: absolute; text-align: justify; top: 68px; width: 1100px; z-index: 101;">
		Aperte <b>Ctrl - </b>ou <b>Ctrl + </b>ara controlar o zoom do mapa
	</div>
	<div id="start.head.16219777011" class="image resizable object" style="height: 5272.2px; left: 1261.97px; position: absolute; top: -465.984px; width: 1306px; z-index: 93;">
		<img src="https://rotas.hotglue.me/?start.head.16219777011" alt="" style="border: 0px; height: 100%; margin: 0px; padding: 0px; width: 100%;">
	</div>
</body>
</html>